name: Publish to PyPI

on:
  push:
    tags:
      - "v*"

jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest
    container:
      image: python:3.13
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install build tools
        run: python -m pip install --upgrade pip build twine setuptools-scm
      - name: Build package
        run: python -m build
      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: python -m twine upload --verbose dist/*